<%= render "common/panel", title: 'Leaderboard' do %>
  <div class="panel">
    <table>
      <thead>
        <th>Recipient</th>
      </thead>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.fullname %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
