<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">
            <%= t('faq.header') %>
          </h1>
        </div>
        <div class="panel-body">

            <%= t('faq.text') %>

        </div>
      </div>
    </div>
  </div>

</div>