.btn-primary{
  background-color: $lighter-blue;
  margin-bottom: 10px;
}

.btn-success{
  background-color: $primary-green;
}

.btn-info{
  background-color: $lightest-blue;
}

.btn-warning{
  background-color: $primary-yellow;
}

button{
  margin-bottom: 10px;

  a{
    color: #ffffff;
    text-decoration: none;
  }

  a:hover{
    color: #ffffff;
    text-decoration: none;
  }

}