textarea{
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 12px;
}

.block-button{
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

.padding-left-10{
  padding-left: 10px;
}

.no-padding-right{
  padding-right: 0;
}



.alert:empty {
  display: none;
}


.login-logo{
  overflow: hidden;
  margin-bottom: 20px;

  img{
    width: 250px;
  }
}

.main-search{
  width: 100%;
  margin-bottom: 10px;
}

.input-group-btn{
  width: 1% !important;
}

.glyphicon-profile{
  font-size: 60px;
  color: #4617a9;
}

.center-content{
  text-align: center;
}








