footer{
  //min-height: 70px;
  color: #ffffff;
  background-color: transparent;
  border-top: dashed #ffffff thin;
}

.align-right{
  text-align: right;
}

.footer-container{
  padding: 20px 70px;
}

.team-name{
  float: right;
}