// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  dl {
    dt:after {
      content: ':'
    }
  }
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;

  span {
    font-size: 2em;
    display: inline-block;
    position: relative;
    width: 1.1em;

    &:before {
      font-family: FontAwesome;
      content: "\f006"
    }

    &:hover:before, &:hover ~ span:before {
      font-family: FontAwesome;
      content: "\f005";
      color: #FFD700;
    }
  }
}


.rating > span:hover:before,
.rating > span:hover ~ span:before {

}