<footer>
  <div class="row footer-container">
    <div class="col-md-4">
      <p>Welcome to Galaxy! Co-worker appreciation portal</p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 align-right">The Variq Team</div>
  </div>
</footer>
